<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935655151425-0qvip42r9b4e55aei0uk71ncehl3s45s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935655151425-0qvip42r9b4e55aei0uk71ncehl3s45s</string>
	<key>API_KEY</key>
	<string>AIzaSyCiC_zpiau2-cROFzKcaKSUV5ioBm_fRhc</string>
	<key>GCM_SENDER_ID</key>
	<string>935655151425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kembanginMobile</string>
	<key>PROJECT_ID</key>
	<string>kembangin-a8aa4</string>
	<key>STORAGE_BUCKET</key>
	<string>kembangin-a8aa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935655151425:ios:ce5fc2eb4b1bab0f46b3c0</string>
</dict>
</plist>